.bg-gray {
	background-color: #F0F3F5;
}

.section-padding {
	padding-top: 80px;
	padding-bottom: 80px;
}

.rounded-panel {
	border-radius: 24px;
	background-color: #fcfcfd;
}

.text-blue {
	color: #4a69e8;
}

.subtitle {
	color: #667f99;
	font-size: 18px;
}