@import "../../node_modules/bootstrap/scss/functions";
@import './utils/variables';
@import "../../node_modules/bootstrap";

//* 引入 基本樣式
@import "./base/base.scss";

@import './layout/header.scss';
@import './layout/footer.scss';

@import './pages/index.scss';

//* 引入 使用者樣式
@import './pages/user.scss';
